body {
  background-color: rgba(179, 30, 30, 0.1);
}

.wrap div {
  width: 1200px;
  height: 1200px;
}

.box1 {
  background: url(../1.png) center center no-repeat;
}

.box2 {
  background: url(../2.png) center center no-repeat;
}

.box3 {
  background: url(../3.png) center center no-repeat;
}
